.home-content {
    position: absolute;
    height: 100vh;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    background-color: rgb(204, 207, 212);
    /* z-index: -1; */

    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#kitchen-a {
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.home-content .kitchen-container {
    width: 100%;
    height: 100%;
}

/* body */
.home-content .kitchen-container .gallery-content { 
    height: 1050px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #595260;
}

/* slider */
.kitchen-container .gallery-content .kitchen-gallery {
    position: relative;
    height: 96%;
    width: 97%;
    max-width: 2000px;
    background-color: #595260;
    overflow: hidden;
}

.kitchen-gallery .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gallery-content .kitchen-gallery img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-content .kitchen-gallery .info {
    position: absolute;
    color: rgb(204, 207, 212);
    background: rgba(255, 255, 255, 0.3);
    text-shadow: 2px 2px 5px black;
    width: 75%;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 / 5%);
}

.gallery-content .kitchen-gallery .info h2 {
    font-size: 2em;
    font-weight: 800;
    font-family: 'Kaushan Script', cursive;
}

.gallery-content .kitchen-gallery .info p {
    font-size: 1em;
    font-weight: 400;
}

.gallery-navi {
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.kitchen-gallery:hover .gallery-navi {
    opacity: 1;
}

.gallery-navi #prev, #next {
    z-index: 90;
    font-size: 2em;
    color: #FFD523;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.gallery-navi #prev {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gallery-navi #next {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navi-locate {
    z-index: 990;
    display: flex;
    justify-content: center;
}

.navi-locate .slide-icon {
    z-index: 990;
    background: black;
    width: 20px;
    height: 10px;
    margin: 0 6px;
}

/* .gallery-content .kitchen-gallery {
    width: 97%;
    max-width: 2000px;
    height: 95%;
    background-image: url("/imgs/kitchen/kitchen_1_aaron-huber.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.gallery-content span {
    color: #FFD523;
    font-size: 2rem;
    cursor: pointer;
}

.gallery-content #prev {
    position: absolute;
    z-index: 10;
    left: 18px;
    background-color: rgba(0, 0, 0, .3);
    text-shadow: 2px 2px 5px black;
}

.gallery-content #next {
    position: absolute;
    z-index: 10;
    right: 18px;
    background-color: rgba(0, 0, 0, .3);
    text-shadow: 2px 2px 5px black;
}

.kitchen-container  .kitchen-products .text:hover {
    cursor: pointer;
} */